<div class="row news">  
    <div class="col l-10 l-o-1 m-10 m-o-1 c-12">
        <div class="leftNews">
            <div id="slideNewsID" class="slideNews">
                <button id="btnLeftSlideNewsID" class="btnLeftSlideNews">
                    <i class="fa-solid fa-caret-left"></i>
                </button>
                <div id="slideNewsImageID" class="slideNewsImage">
                    <img src="https://cf.shopee.vn/file/vn-11134258-7r98o-m04765kvchovec_xxhdpi" alt="" style="margin-left: 0px;">
                    <img src="https://cf.shopee.vn/file/vn-11134258-7r98o-m08aekl0p0bxbb_xxhdpi" alt="">
                    <img src="https://cf.shopee.vn/file/vn-11134258-7r98o-m0478qxsq6j3d1_xxhdpi" alt="">
                    <img src="https://cf.shopee.vn/file/vn-11134258-7r98o-m08i96pe504t6d_xxhdpi" alt="">
                    <img src="https://cf.shopee.vn/file/vn-11134258-7r98o-m047ds0tqdfz69_xxhdpi" alt="">
                    <img src="https://cf.shopee.vn/file/vn-11134258-7r98o-m047k5mrq5m577_xxhdpi" alt="" style="margin-right: 0px;">
                </div>
                <button id="btnRightSlideNewsID" class="btnRightSlideNews">
                    <i class="fa-solid fa-caret-right"></i>
                </button>
            </div>
        </div>
        <div class="rightNews">
            <div class="rightNewsSub1">
                <img src="https://cf.shopee.vn/file/sg-11134258-7rdyh-m01cmgqfn2cz11_xhdpi" alt="">
            </div>
            <div class="rightNewsSub2">
                <img src="https://cf.shopee.vn/file/sg-11134258-7rdvv-m017t6fioiyf6d_xhdpi" alt="">
            </div>
        </div>
    </div>
</div>