<div class="row flashSale">  
    <div class="col l-10 l-o-1 m-10 m-o-1 c-12">
        <div class="titleFlashSale">
            <div class="leftTitleFlashSale">
                <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/flashsale/fb1088de81e42c4e5389.png" alt="">
            </div>
            <div class="rightTitleFlashSale">
                <a href="#">Xem tất cả</a>
                <div class="btnMoveFlashSaleContainer">
                    <button id="btnMoveFlashSaleLeftID">
                        <i class="fa-solid fa-caret-left"></i>
                    </button>
                    <button id="btnMoveFlashSaleRightID">
                        <i class="fa-solid fa-caret-right"></i>
                    </button>
                </div>
            </div>
        </div>
        <div id="listFlashSaleID" class="row listFlashSale">
            <button class="col l-2 m-3 c-4 btnFlashSale">
                <img class="iconShopeeMall" src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/40a453875daccf8cc324.svg" alt="">
                <div class="iconSalePercent">
                    -50%
                </div>
                <img src="https://down-vn.img.susercontent.com/file/cn-11134207-7r98o-m05v5of6411q27.webp" alt="">
                <div style="display: flex; align-items: center; justify-content: center; width: 100%;">
                    <span>79.000 đ</span>
                    <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/flashsale/c5316dd01de2b0d41d26.png" alt="" style="width: 15px; margin: 0px 2px;">
                </div>
                <!-- <span>79.000 đ</span> -->
            </button>
            <button class="col l-2 m-3 c-4 btnFlashSale">
                <img class="iconShopeeMall" src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/40a453875daccf8cc324.svg" alt="">
                <div class="iconSalePercent">
                    -50%
                </div>
                <img src="https://down-vn.img.susercontent.com/file/cn-11134207-7r98o-m05v5of6411q27.webp" alt="">
                <div style="display: flex; align-items: center; justify-content: center; width: 100%;">
                    <span>79.000 đ</span>
                    <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/flashsale/c5316dd01de2b0d41d26.png" alt="" style="width: 15px; margin: 0px 2px;">
                </div>
                <!-- <span>79.000 đ</span> -->
            </button>
            <button class="col l-2 m-3 c-4 btnFlashSale">
                <img class="iconShopeeMall" src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/40a453875daccf8cc324.svg" alt="">
                <div class="iconSalePercent">
                    -50%
                </div>
                <img src="https://down-vn.img.susercontent.com/file/cn-11134207-7r98o-m05v5of6411q27.webp" alt="">
                <div style="display: flex; align-items: center; justify-content: center; width: 100%;">
                    <span>79.000 đ</span>
                    <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/flashsale/c5316dd01de2b0d41d26.png" alt="" style="width: 15px; margin: 0px 2px;">
                </div>
                <!-- <span>79.000 đ</span> -->
            </button>
            <button class="col l-2 m-3 c-4 btnFlashSale">
                <img class="iconShopeeMall" src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/40a453875daccf8cc324.svg" alt="">
                <div class="iconSalePercent">
                    -50%
                </div>
                <img src="https://down-vn.img.susercontent.com/file/cn-11134207-7r98o-m05v5of6411q27.webp" alt="">
                <div style="display: flex; align-items: center; justify-content: center; width: 100%;">
                    <span>79.000 đ</span>
                    <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/flashsale/c5316dd01de2b0d41d26.png" alt="" style="width: 15px; margin: 0px 2px;">
                </div>
                <!-- <span>79.000 đ</span> -->
            </button>
            <button class="col l-2 m-3 c-4 btnFlashSale">
                <img class="iconShopeeMall" src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/40a453875daccf8cc324.svg" alt="">
                <div class="iconSalePercent">
                    -50%
                </div>
                <img src="https://down-vn.img.susercontent.com/file/cn-11134207-7r98o-m05v5of6411q27.webp" alt="">
                <div style="display: flex; align-items: center; justify-content: center; width: 100%;">
                    <span>79.000 đ</span>
                    <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/flashsale/c5316dd01de2b0d41d26.png" alt="" style="width: 15px; margin: 0px 2px;">
                </div>
                <!-- <span>79.000 đ</span> -->
            </button>
            <button class="col l-2 m-3 c-4 btnFlashSale">
                <img class="iconShopeeMall" src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/40a453875daccf8cc324.svg" alt="">
                <div class="iconSalePercent">
                    -50%
                </div>
                <img src="https://down-vn.img.susercontent.com/file/cn-11134207-7r98o-m05v5of6411q27.webp" alt="">
                <div style="display: flex; align-items: center; justify-content: center; width: 100%;">
                    <span>79.000 đ</span>
                    <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/flashsale/c5316dd01de2b0d41d26.png" alt="" style="width: 15px; margin: 0px 2px;">
                </div>
                <!-- <span>79.000 đ</span> -->
            </button>
            <button class="col l-2 m-3 c-4 btnFlashSale">
                <img class="iconShopeeMall" src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/40a453875daccf8cc324.svg" alt="">
                <div class="iconSalePercent">
                    -50%
                </div>
                <img src="https://down-vn.img.susercontent.com/file/cn-11134207-7r98o-m05v5of6411q27.webp" alt="">
                <div style="display: flex; align-items: center; justify-content: center; width: 100%;">
                    <span>79.000 đ</span>
                    <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/flashsale/c5316dd01de2b0d41d26.png" alt="" style="width: 15px; margin: 0px 2px;">
                </div>
                <!-- <span>79.000 đ</span> -->
            </button>
            <button class="col l-2 m-3 c-4 btnFlashSale">
                <img class="iconShopeeMall" src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/40a453875daccf8cc324.svg" alt="">
                <div class="iconSalePercent">
                    -50%
                </div>
                <img src="https://down-vn.img.susercontent.com/file/cn-11134207-7r98o-m05v5of6411q27.webp" alt="">
                <div style="display: flex; align-items: center; justify-content: center; width: 100%;">
                    <span>79.000 đ</span>
                    <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/flashsale/c5316dd01de2b0d41d26.png" alt="" style="width: 15px; margin: 0px 2px;">
                </div>
                <!-- <span>79.000 đ</span> -->
            </button>
            <button class="col l-2 m-3 c-4 btnFlashSale">
                <img class="iconShopeeMall" src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/40a453875daccf8cc324.svg" alt="">
                <div class="iconSalePercent">
                    -50%
                </div>
                <img src="https://down-vn.img.susercontent.com/file/cn-11134207-7r98o-m05v5of6411q27.webp" alt="">
                <div style="display: flex; align-items: center; justify-content: center; width: 100%;">
                    <span>79.000 đ</span>
                    <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/flashsale/c5316dd01de2b0d41d26.png" alt="" style="width: 15px; margin: 0px 2px;">
                </div>
                <!-- <span>79.000 đ</span> -->
            </button>
            <button class="col l-2 m-3 c-4 btnFlashSale">
                <img class="iconShopeeMall" src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/40a453875daccf8cc324.svg" alt="">
                <div class="iconSalePercent">
                    -50%
                </div>
                <img src="https://down-vn.img.susercontent.com/file/cn-11134207-7r98o-m05v5of6411q27.webp" alt="">
                <div style="display: flex; align-items: center; justify-content: center; width: 100%;">
                    <span>79.000 đ</span>
                    <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/flashsale/c5316dd01de2b0d41d26.png" alt="" style="width: 15px; margin: 0px 2px;">
                </div>
                <!-- <span>79.000 đ</span> -->
            </button>
            <button class="col l-2 m-3 c-4 btnFlashSale">
                <img class="iconShopeeMall" src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/40a453875daccf8cc324.svg" alt="">
                <div class="iconSalePercent">
                    -50%
                </div>
                <img src="https://down-vn.img.susercontent.com/file/cn-11134207-7r98o-m05v5of6411q27.webp" alt="">
                <div style="display: flex; align-items: center; justify-content: center; width: 100%;">
                    <span>79.000 đ</span>
                    <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/flashsale/c5316dd01de2b0d41d26.png" alt="" style="width: 15px; margin: 0px 2px;">
                </div>
                <!-- <span>79.000 đ</span> -->
            </button>
            <button class="col l-2 m-3 c-4 btnFlashSale">
                <img class="iconShopeeMall" src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/40a453875daccf8cc324.svg" alt="">
                <div class="iconSalePercent">
                    -50%
                </div>
                <img src="https://down-vn.img.susercontent.com/file/cn-11134207-7r98o-m05v5of6411q27.webp" alt="">
                <div style="display: flex; align-items: center; justify-content: center; width: 100%;">
                    <span>79.000 đ</span>
                    <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/flashsale/c5316dd01de2b0d41d26.png" alt="" style="width: 15px; margin: 0px 2px;">
                </div>
                <!-- <span>79.000 đ</span> -->
            </button>
            <button class="col l-2 m-3 c-4 btnFlashSale">
                <img class="iconShopeeMall" src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/40a453875daccf8cc324.svg" alt="">
                <div class="iconSalePercent">
                    -50%
                </div>
                <img src="https://down-vn.img.susercontent.com/file/cn-11134207-7r98o-m05v5of6411q27.webp" alt="">
                <div style="display: flex; align-items: center; justify-content: center; width: 100%;">
                    <span>79.000 đ</span>
                    <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/flashsale/c5316dd01de2b0d41d26.png" alt="" style="width: 15px; margin: 0px 2px;">
                </div>
                <!-- <span>79.000 đ</span> -->
            </button>
            <button class="col l-2 m-3 c-4 btnFlashSale">
                <img class="iconShopeeMall" src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/40a453875daccf8cc324.svg" alt="">
                <div class="iconSalePercent">
                    -50%
                </div>
                <img src="https://down-vn.img.susercontent.com/file/cn-11134207-7r98o-m05v5of6411q27.webp" alt="">
                <div style="display: flex; align-items: center; justify-content: center; width: 100%;">
                    <span>79.000 đ</span>
                    <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/flashsale/c5316dd01de2b0d41d26.png" alt="" style="width: 15px; margin: 0px 2px;">
                </div>
                <!-- <span>79.000 đ</span> -->
            </button>
            <button class="col l-2 m-3 c-4 btnFlashSale">
                <img class="iconShopeeMall" src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/40a453875daccf8cc324.svg" alt="">
                <div class="iconSalePercent">
                    -50%
                </div>
                <img src="https://down-vn.img.susercontent.com/file/cn-11134207-7r98o-m05v5of6411q27.webp" alt="">
                <div style="display: flex; align-items: center; justify-content: center; width: 100%;">
                    <span>79.000 đ</span>
                    <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/flashsale/c5316dd01de2b0d41d26.png" alt="" style="width: 15px; margin: 0px 2px;">
                </div>
                <!-- <span>79.000 đ</span> -->
            </button>
            <button class="col l-2 m-3 c-4 btnFlashSale">
                <img class="iconShopeeMall" src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/40a453875daccf8cc324.svg" alt="">
                <div class="iconSalePercent">
                    -50%
                </div>
                <img src="https://down-vn.img.susercontent.com/file/cn-11134207-7r98o-m05v5of6411q27.webp" alt="">
                <div style="display: flex; align-items: center; justify-content: center; width: 100%;">
                    <span>79.000 đ</span>
                    <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/flashsale/c5316dd01de2b0d41d26.png" alt="" style="width: 15px; margin: 0px 2px;">
                </div>
                <!-- <span>79.000 đ</span> -->
            </button>
            <button class="col l-2 m-3 c-4 btnFlashSale">
                <img class="iconShopeeMall" src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/40a453875daccf8cc324.svg" alt="">
                <div class="iconSalePercent">
                    -50%
                </div>
                <img src="https://down-vn.img.susercontent.com/file/cn-11134207-7r98o-m05v5of6411q27.webp" alt="">
                <div style="display: flex; align-items: center; justify-content: center; width: 100%;">
                    <span>79.000 đ</span>
                    <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/flashsale/c5316dd01de2b0d41d26.png" alt="" style="width: 15px; margin: 0px 2px;">
                </div>
                <!-- <span>79.000 đ</span> -->
            </button>
            <button class="col l-2 m-3 c-4 btnFlashSale">
                <img class="iconShopeeMall" src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/40a453875daccf8cc324.svg" alt="">
                <div class="iconSalePercent">
                    -50%
                </div>
                <img src="https://down-vn.img.susercontent.com/file/cn-11134207-7r98o-m05v5of6411q27.webp" alt="">
                <div style="display: flex; align-items: center; justify-content: center; width: 100%;">
                    <span>79.000 đ</span>
                    <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/flashsale/c5316dd01de2b0d41d26.png" alt="" style="width: 15px; margin: 0px 2px;">
                </div>
                <!-- <span>79.000 đ</span> -->
            </button>

        </div>
    </div>
</div>

<router-outlet></router-outlet>