<!-- Phần hồ sơ người dùng -->
<div class="row profileUserContainer">
    <div class="col l-10 l-o-1 m-10 m-o-1 c-12 profileUser">
        <div class="leftProfileUser">
            <div class="infoCard">
                <img src="https://wolftechecommerce.web.app/resource/img/h%C3%ACnh%203x4.png" alt="">
                <div class="right">
                    <span class="name">minhngo</span>
                </div>
            </div>
            <div class="menu">
                <button routerLink="/profile-user/info"><i class="fa-solid fa-address-card" style="color: #2980b9;"></i> <span>Hồ sơ của tôi</span></button>
                <button routerLink="/profile-user/order-history"><i class="fa-solid fa-clipboard-list" style="color: #2ecc71;"></i> <span>Lịch sử đơn hàng</span></button>
            </div>
        </div>
        <div class="rightProfileUser">
            <!-- Hiển thị component con tương ứng với tab được chọn -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>