<div class="row category">  
    <div class="col l-10 l-o-1 m-10 m-o-1 c-12">
        <div class="titleCategory">
            <span>DANH MỤC</span>
            <div class="btnMoveCategoryContainer">
                <button id="btnMoveCategoryLeftID">
                    <i class="fa-solid fa-caret-left"></i>
                </button>
                <button id="btnMoveCategoryRightID">
                    <i class="fa-solid fa-caret-right"></i>
                </button>
            </div>
        </div>
        <div id="listCategoryID" class="row listCategory">
            <!--  -->
            <!-- <div class="slideCategory"> -->
                <button routerLink="product-list" class="col l-1 m-2 c-3 btnCategory">
                    <img src="https://down-vn.img.susercontent.com/file/687f3967b7c2fe6a134a2c11894eea4b@resize_w320_nl.webp" alt="">
                    <span>Thời Trang Nam</span>
                </button>
                <button routerLink="product-list" class="col l-1 m-2 c-3 btnCategory">
                    <img src="https://down-vn.img.susercontent.com/file/31234a27876fb89cd522d7e3db1ba5ca@resize_w320_nl.webp" alt="">
                    <span>Điện Thoại & Phụ Kiện</span>
                </button>
                <button routerLink="product-list" class="col l-1 m-2 c-3 btnCategory">
                    <img src="https://down-vn.img.susercontent.com/file/978b9e4cb61c611aaaf58664fae133c5@resize_w320_nl.webp" alt="">
                    <span>Thiết Bị Điện Tử</span>
                </button>
                <button routerLink="product-list" class="col l-1 m-2 c-3 btnCategory">
                    <img src="https://down-vn.img.susercontent.com/file/c3f3edfaa9f6dafc4825b77d8449999d@resize_w320_nl.webp" alt="">
                    <span>Máy Tính & Laptop</span>
                </button>
                <button routerLink="product-list" class="col l-1 m-2 c-3 btnCategory">
                    <img src="https://down-vn.img.susercontent.com/file/ec14dd4fc238e676e43be2a911414d4d@resize_w320_nl.webp" alt="">
                    <span>Máy Ảnh & Máy Quay Phim</span>
                </button>
                <button routerLink="product-list" class="col l-1 m-2 c-3 btnCategory">
                    <img src="https://down-vn.img.susercontent.com/file/86c294aae72ca1db5f541790f7796260@resize_w320_nl.webp" alt="">
                    <span>Đồng Hồ</span>
                </button>
                <button routerLink="product-list" class="col l-1 m-2 c-3 btnCategory">
                    <img src="https://down-vn.img.susercontent.com/file/74ca517e1fa74dc4d974e5d03c3139de@resize_w320_nl.webp" alt="">
                    <span>Giày Dép Nam</span>
                </button>
                <button routerLink="product-list" class="col l-1 m-2 c-3 btnCategory">
                    <img src="https://down-vn.img.susercontent.com/file/7abfbfee3c4844652b4a8245e473d857@resize_w320_nl.webp" alt="">
                    <span>Thiết Bị Điện Gia Dụng</span>
                </button>
                <button routerLink="product-list" class="col l-1 m-2 c-3 btnCategory">
                    <img src="https://down-vn.img.susercontent.com/file/6cb7e633f8b63757463b676bd19a50e4@resize_w320_nl.webp" alt="">
                    <span>Thể Thao & Du Lịch</span>
                </button>
                <button routerLink="product-list" class="col l-1 m-2 c-3 btnCategory">
                    <img src="https://down-vn.img.susercontent.com/file/3fb459e3449905545701b418e8220334@resize_w320_nl.webp" alt="">
                    <span>Ô Tô & Xe Máy & Xe Đạp</span>
                </button>
                <button routerLink="product-list" class="col l-1 m-2 c-3 btnCategory">
                    <img src="https://down-vn.img.susercontent.com/file/687f3967b7c2fe6a134a2c11894eea4b@resize_w320_nl.webp" alt="">
                    <span>Thời Trang Nam</span>
                </button>
                <button routerLink="product-list" class="col l-1 m-2 c-3 btnCategory">
                    <img src="https://down-vn.img.susercontent.com/file/31234a27876fb89cd522d7e3db1ba5ca@resize_w320_nl.webp" alt="">
                    <span>Điện Thoại & Phụ Kiện</span>
                </button>
                <button routerLink="product-list" class="col l-1 m-2 c-3 btnCategory">
                    <img src="https://down-vn.img.susercontent.com/file/978b9e4cb61c611aaaf58664fae133c5@resize_w320_nl.webp" alt="">
                    <span>Thiết Bị Điện Tử</span>
                </button>
                <button routerLink="product-list" class="col l-1 m-2 c-3 btnCategory">
                    <img src="https://down-vn.img.susercontent.com/file/c3f3edfaa9f6dafc4825b77d8449999d@resize_w320_nl.webp" alt="">
                    <span>Máy Tính & Laptop</span>
                </button>
                <button routerLink="product-list" class="col l-1 m-2 c-3 btnCategory">
                    <img src="https://down-vn.img.susercontent.com/file/ec14dd4fc238e676e43be2a911414d4d@resize_w320_nl.webp" alt="">
                    <span>Máy Ảnh & Máy Quay Phim</span>
                </button>
                <button routerLink="product-list" class="col l-1 m-2 c-3 btnCategory">
                    <img src="https://down-vn.img.susercontent.com/file/86c294aae72ca1db5f541790f7796260@resize_w320_nl.webp" alt="">
                    <span>Đồng Hồ</span>
                </button>
                <button routerLink="product-list" class="col l-1 m-2 c-3 btnCategory">
                    <img src="https://down-vn.img.susercontent.com/file/74ca517e1fa74dc4d974e5d03c3139de@resize_w320_nl.webp" alt="">
                    <span>Giày Dép Nam</span>
                </button>
                <button routerLink="product-list" class="col l-1 m-2 c-3 btnCategory">
                    <img src="https://down-vn.img.susercontent.com/file/7abfbfee3c4844652b4a8245e473d857@resize_w320_nl.webp" alt="">
                    <span>Thiết Bị Điện Gia Dụng</span>
                </button>
                <button routerLink="product-list" class="col l-1 m-2 c-3 btnCategory">
                    <img src="https://down-vn.img.susercontent.com/file/6cb7e633f8b63757463b676bd19a50e4@resize_w320_nl.webp" alt="">
                    <span>Thể Thao & Du Lịch</span>
                </button>
                <button routerLink="product-list" class="col l-1 m-2 c-3 btnCategory">
                    <img src="https://down-vn.img.susercontent.com/file/3fb459e3449905545701b418e8220334@resize_w320_nl.webp" alt="">
                    <span>Ô Tô & Xe Máy & Xe Đạp</span>
                </button>
                <button routerLink="product-list" class="col l-1 m-2 c-3 btnCategory">
                    <img src="https://down-vn.img.susercontent.com/file/687f3967b7c2fe6a134a2c11894eea4b@resize_w320_nl.webp" alt="">
                    <span>Thời Trang Nam</span>
                </button>
                <button routerLink="product-list" class="col l-1 m-2 c-3 btnCategory">
                    <img src="https://down-vn.img.susercontent.com/file/31234a27876fb89cd522d7e3db1ba5ca@resize_w320_nl.webp" alt="">
                    <span>Điện Thoại & Phụ Kiện</span>
                </button>
                <button routerLink="product-list" class="col l-1 m-2 c-3 btnCategory">
                    <img src="https://down-vn.img.susercontent.com/file/978b9e4cb61c611aaaf58664fae133c5@resize_w320_nl.webp" alt="">
                    <span>Thiết Bị Điện Tử</span>
                </button>
                <button routerLink="product-list" class="col l-1 m-2 c-3 btnCategory">
                    <img src="https://down-vn.img.susercontent.com/file/c3f3edfaa9f6dafc4825b77d8449999d@resize_w320_nl.webp" alt="">
                    <span>Máy Tính & Laptop</span>
                </button>
                <button routerLink="product-list" class="col l-1 m-2 c-3 btnCategory">
                    <img src="https://down-vn.img.susercontent.com/file/ec14dd4fc238e676e43be2a911414d4d@resize_w320_nl.webp" alt="">
                    <span>Máy Ảnh & Máy Quay Phim</span>
                </button>
                <button routerLink="product-list" class="col l-1 m-2 c-3 btnCategory">
                    <img src="https://down-vn.img.susercontent.com/file/86c294aae72ca1db5f541790f7796260@resize_w320_nl.webp" alt="">
                    <span>Đồng Hồ</span>
                </button>
                <button routerLink="product-list" class="col l-1 m-2 c-3 btnCategory">
                    <img src="https://down-vn.img.susercontent.com/file/74ca517e1fa74dc4d974e5d03c3139de@resize_w320_nl.webp" alt="">
                    <span>Giày Dép Nam</span>
                </button>
                <button routerLink="product-list" class="col l-1 m-2 c-3 btnCategory">
                    <img src="https://down-vn.img.susercontent.com/file/7abfbfee3c4844652b4a8245e473d857@resize_w320_nl.webp" alt="">
                    <span>Thiết Bị Điện Gia Dụng</span>
                </button>
                <button routerLink="product-list" class="col l-1 m-2 c-3 btnCategory">
                    <img src="https://down-vn.img.susercontent.com/file/6cb7e633f8b63757463b676bd19a50e4@resize_w320_nl.webp" alt="">
                    <span>Thể Thao & Du Lịch</span>
                </button>
                <button routerLink="product-list" class="col l-1 m-2 c-3 btnCategory">
                    <img src="https://down-vn.img.susercontent.com/file/3fb459e3449905545701b418e8220334@resize_w320_nl.webp" alt="">
                    <span>Ô Tô & Xe Máy & Xe Đạp</span>
                </button>
            <!-- </div> -->
        </div>
    </div>
</div>