<div id="headerID" class="row header">
    <div class="col l-10 l-o-1 m-10 m-o-1 c-10 c-o-1">
        <div class="logo">
            <img src="resource/img/logo-no-background.png" alt="">
        </div>
        <div class="search">
            <form action="#">
                <input type="text" placeholder="Tìm kiếm ...">
                <button class="btnFindInSearch" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <div class="rightHeader">
            <button class="btnNotification">
                <i class="fa-solid fa-bell"></i>
                <span class="numberOfNotificate">0</span>
            </button>
            <button class="btnCart">
                <i class="fa-solid fa-cart-shopping"></i>
                <span class="numberOfCart">0</span>
            </button>
            <button class="btnProfileUser">
                <img src="resource/img/hình 3x4.png" alt="">
            </button>
        </div>
    </div>
</div>