<div class="orderHistory">
    <div class="titleOrderHistory">
        <h2>Lịch sử đơn hàng</h2>
    </div>
    <div class="listOrder">
        <!-- Item -->
        <div class="orderHistoryInfo">
            <div class="top">
                <div class="leftTop">
                    <span>David Austin</span>
                    <button class="btnWatchShop" routerLink="/shop-page"><i class="fa-solid fa-store"></i> Xem Shop</button>
                </div>
            </div>
            <!-- Từng item trong đơn mua -->
            <div class="productInfo">
                <div class="info">
                    <img src="https://bouqs.com/cdn-cgi/image/height=454,fit=cover,quality=80,width=454,format=auto/media/W1siZiIsIjIwMjQvMDgvMjMvMTcvNDIvNDUvOTljODZmNTItMGM0MC00MDkwLTgzZDItNTJkYzZjY2RkOTBkL0ZBTEwyNF9ERUxJTEFIX09TXzAyNTNfV2ViLmpwZyJdXQ/FALL24_DELILAH_OS_0253_Web.jpg?sha=1fdacf040343961d" alt="" routerLink="/product-detail">
                    <div class="productName">
                        <span routerLink="/product-detail">100 Red Roses</span>
                        <span style="font-size: 15px; font-weight: 400; color: #555;">Phân loại hàng: Hoa hồng</span>
                        <span style="font-size: 15px; font-weight: 400; color: #555;">Số lượng: 1</span>
                    </div>
                </div>
                <div class="price">
                    <span>415.000</span>
                </div>
            </div>
            <!-- Từng item trong đơn mua -->
            <div class="productInfo">
                <div class="info">
                    <img src="https://bouqs.com/cdn-cgi/image/height=454,fit=cover,quality=80,width=454,format=auto/media/W1siZiIsIjIwMjMvMDkvMjEvMTkvMTMvNDYvYjhhYzAzYjktMjg1OS00ZTY3LTlkMzUtNmQwNzQ0MTJhYmMyL0ZBTDIzX1RoZUp1bGlldF9KdWxpZXRfT1NfSEhfMTc1X0JHLmpwZyJdXQ/FAL23_TheJuliet_Juliet_OS_HH_175_BG.jpg?sha=229489b17a59be7e" alt="" routerLink="/product-detail">
                    <div class="productName">
                        <span routerLink="/product-detail">The Juliet</span>
                        <span style="font-size: 15px; font-weight: 400; color: #555;">Phân loại hàng: Hồng phấn</span>
                        <span style="font-size: 15px; font-weight: 400; color: #555;">Số lượng: 1</span>
                    </div>
                </div>
                <div class="price">
                    <span>507.000</span>
                </div>
            </div>
            <div class="totalPriceInfo">
                <span>Thành tiền: <span style="color: #a61713; font-size: 22px; font-weight: 400;">922.000 vnđ</span></span>
            </div>
            <div class="bottom">
                <button class="btnRePurchase" routerLink="/product-detail">Mua Lại</button>
            </div>
        </div>
        <!-- Item -->
        <div class="orderHistoryInfo">
            <div class="top">
                <div class="leftTop">
                    <span>Hoa ánh dương</span>
                    <button class="btnWatchShop" routerLink="/shop-page"><i class="fa-solid fa-store"></i> Xem Shop</button>
                </div>
            </div>
             <!-- Từng item trong đơn mua -->
            <div class="productInfo">
                <div class="info">
                    <img src="https://bouqs.com/cdn-cgi/image/height=454,fit=cover,quality=80,width=454,format=auto/media/W1siZiIsIjIwMjEvMDgvMTcvMDQvMzMvMjEvNmQ4NzI4YWYtZWRlNS00MDk1LTg3YjUtNDJmYmVkNWNhMDQ1L1RocmVlV2lzaGVzXzQyNDIuanBnIl1d/ThreeWishes_4242.jpg?sha=269129b58987b5e4" alt="" routerLink="/product-detail">
                    <div class="productName">
                        <span routerLink="/product-detail">Three Wishes</span>
                        <span style="font-size: 15px; font-weight: 400; color: #555;">Phân loại hàng: Hoa lan</span>
                        <span style="font-size: 15px; font-weight: 400; color: #555;">Số lượng: 1</span>
                    </div>
                </div>
                <div class="price">
                    <span>339.000</span>
                </div>
            </div>
            <div class="totalPriceInfo">
                <span>Thành tiền: <span style="color: #a61713; font-size: 22px; font-weight: 400;">339.000 vnđ</span></span>
            </div>
            <div class="bottom">
                <button class="btnRePurchase" routerLink="/product-detail">Mua Lại</button>
            </div>
        </div>
    </div>
</div>