<div class="orderHistory">
    <div class="titleOrderHistory">
        <h2>Lịch sử đơn hàng</h2>
    </div>
    <div class="listOrder">
        <!-- Item -->
        <div class="orderHistoryInfo">
            <div class="top">
                <div class="leftTop">
                    <span>AMRISH</span>
                    <button class="btnWatchShop" routerLink="/shop-page"><i class="fa-solid fa-store"></i> Xem Shop</button>
                </div>
            </div>
            <!-- Từng item trong đơn mua -->
            <div class="productInfo">
                <div class="info">
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lluvn6d0j1lr0a_tn" alt="">
                    <div class="productName">
                        <span>Áo sơ mi tay ngắn Premium Oxford</span>
                        <span style="font-size: 15px; font-weight: 400; color: #555;">Phân loại hàng: Sọc xanh, M (64-75kg)</span>
                    </div>
                </div>
                <div class="price">
                    <span>415.000</span>
                </div>
            </div>
            <!-- Từng item trong đơn mua -->
            <div class="productInfo">
                <div class="info">
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lmlrrgp1x68va2_tn" alt="">
                    <div class="productName">
                        <span>Giày lười nam Loafer, công sở trẻ trung bằng da thật, chính hãng AN07</span>
                        <span style="font-size: 15px; font-weight: 400; color: #555;">Phân loại hàng: Đen (AN07), 43</span>
                    </div>
                </div>
                <div class="price">
                    <span>507.000</span>
                </div>
            </div>
            <div class="totalPriceInfo">
                <span>Thành tiền: <span style="color: #a61713; font-size: 22px; font-weight: 400;">922.000 vnđ</span></span>
            </div>
            <div class="bottom">
                <button class="btnRePurchase" routerLink="/product-detail">Mua Lại</button>
            </div>
        </div>
        <!-- Item -->
        <div class="orderHistoryInfo">
            <div class="top">
                <div class="leftTop">
                    <span>nội thất ánh dương</span>
                    <button class="btnWatchShop" routerLink="/shop-page"><i class="fa-solid fa-store"></i> Xem Shop</button>
                </div>
            </div>
             <!-- Từng item trong đơn mua -->
            <div class="productInfo">
                <div class="info">
                    <img src="https://down-vn.img.susercontent.com/file/1711da282cb992d436f68c46fecb285e_tn" alt="">
                    <div class="productName">
                        <span>Ghế xoay văn phòng, ghế văn phòng AD010</span>
                        <span style="font-size: 15px; font-weight: 400; color: #555;"></span>
                    </div>
                </div>
                <div class="price">
                    <span>339.000</span>
                </div>
            </div>
            <div class="totalPriceInfo">
                <span>Thành tiền: <span style="color: #a61713; font-size: 22px; font-weight: 400;">339.000 vnđ</span></span>
            </div>
            <div class="bottom">
                <button class="btnRePurchase" routerLink="/product-detail">Mua Lại</button>
            </div>
        </div>
    </div>
</div>