<div class="row suggest">  
    <div class="col l-10 l-o-1 m-10 m-o-1 c-12">
        <div class="titleSuggest">
            <span>GỢI Ý HÔM NAY</span>
        </div>
        <div class="row listSuggest">
            <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                <button routerLink="product-detail" class="btnSuggestItem">
                    <div class="suggestItemSaleTag">
                        -50%
                    </div>
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                    <span>Combo 3 chai Nước giặt OMO</span>
                    <div class="suggestItemPriceSale">
                        <span class="suggestItemPrice">171.000 đ</span>
                        <span class="suggestItemSold">Đã bán 7,5k</span>
                    </div>
                </button>
            </div>
            <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                <button routerLink="product-detail" class="btnSuggestItem">
                    <div class="suggestItemSaleTag">
                        -50%
                    </div>
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                    <span>Combo 3 chai Nước giặt OMO</span>
                    <div class="suggestItemPriceSale">
                        <span class="suggestItemPrice">171.000 đ</span>
                        <span class="suggestItemSold">Đã bán 7,5k</span>
                    </div>
                </button>
            </div>
            <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                <button routerLink="product-detail" class="btnSuggestItem">
                    <div class="suggestItemSaleTag">
                        -50%
                    </div>
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                    <span>Combo 3 chai Nước giặt OMO</span>
                    <div class="suggestItemPriceSale">
                        <span class="suggestItemPrice">171.000 đ</span>
                        <span class="suggestItemSold">Đã bán 7,5k</span>
                    </div>
                </button>
            </div>
            <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                <button routerLink="product-detail" class="btnSuggestItem">
                    <div class="suggestItemSaleTag">
                        -50%
                    </div>
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                    <span>Combo 3 chai Nước giặt OMO</span>
                    <div class="suggestItemPriceSale">
                        <span class="suggestItemPrice">171.000 đ</span>
                        <span class="suggestItemSold">Đã bán 7,5k</span>
                    </div>
                </button>
            </div>
            <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                <button routerLink="product-detail" class="btnSuggestItem">
                    <div class="suggestItemSaleTag">
                        -50%
                    </div>
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                    <span>Combo 3 chai Nước giặt OMO</span>
                    <div class="suggestItemPriceSale">
                        <span class="suggestItemPrice">171.000 đ</span>
                        <span class="suggestItemSold">Đã bán 7,5k</span>
                    </div>
                </button>
            </div>
            <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                <button routerLink="product-detail" class="btnSuggestItem">
                    <div class="suggestItemSaleTag">
                        -50%
                    </div>
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                    <span>Combo 3 chai Nước giặt OMO</span>
                    <div class="suggestItemPriceSale">
                        <span class="suggestItemPrice">171.000 đ</span>
                        <span class="suggestItemSold">Đã bán 7,5k</span>
                    </div>
                </button>
            </div>
            <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                <button routerLink="product-detail" class="btnSuggestItem">
                    <div class="suggestItemSaleTag">
                        -50%
                    </div>
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                    <span>Combo 3 chai Nước giặt OMO</span>
                    <div class="suggestItemPriceSale">
                        <span class="suggestItemPrice">171.000 đ</span>
                        <span class="suggestItemSold">Đã bán 7,5k</span>
                    </div>
                </button>
            </div>
            <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                <button routerLink="product-detail" class="btnSuggestItem">
                    <div class="suggestItemSaleTag">
                        -50%
                    </div>
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                    <span>Combo 3 chai Nước giặt OMO</span>
                    <div class="suggestItemPriceSale">
                        <span class="suggestItemPrice">171.000 đ</span>
                        <span class="suggestItemSold">Đã bán 7,5k</span>
                    </div>
                </button>
            </div>
            <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                <button routerLink="product-detail" class="btnSuggestItem">
                    <div class="suggestItemSaleTag">
                        -50%
                    </div>
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                    <span>Combo 3 chai Nước giặt OMO</span>
                    <div class="suggestItemPriceSale">
                        <span class="suggestItemPrice">171.000 đ</span>
                        <span class="suggestItemSold">Đã bán 7,5k</span>
                    </div>
                </button>
            </div>
            <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                <button routerLink="product-detail" class="btnSuggestItem">
                    <div class="suggestItemSaleTag">
                        -50%
                    </div>
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                    <span>Combo 3 chai Nước giặt OMO</span>
                    <div class="suggestItemPriceSale">
                        <span class="suggestItemPrice">171.000 đ</span>
                        <span class="suggestItemSold">Đã bán 7,5k</span>
                    </div>
                </button>
            </div>
            <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                <button routerLink="product-detail" class="btnSuggestItem">
                    <div class="suggestItemSaleTag">
                        -50%
                    </div>
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                    <span>Combo 3 chai Nước giặt OMO</span>
                    <div class="suggestItemPriceSale">
                        <span class="suggestItemPrice">171.000 đ</span>
                        <span class="suggestItemSold">Đã bán 7,5k</span>
                    </div>
                </button>
            </div>
            <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                <button routerLink="product-detail" class="btnSuggestItem">
                    <div class="suggestItemSaleTag">
                        -50%
                    </div>
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                    <span>Combo 3 chai Nước giặt OMO</span>
                    <div class="suggestItemPriceSale">
                        <span class="suggestItemPrice">171.000 đ</span>
                        <span class="suggestItemSold">Đã bán 7,5k</span>
                    </div>
                </button>
            </div>
            <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                <button routerLink="product-detail" class="btnSuggestItem">
                    <div class="suggestItemSaleTag">
                        -50%
                    </div>
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                    <span>Combo 3 chai Nước giặt OMO</span>
                    <div class="suggestItemPriceSale">
                        <span class="suggestItemPrice">171.000 đ</span>
                        <span class="suggestItemSold">Đã bán 7,5k</span>
                    </div>
                </button>
            </div>
            <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                <button routerLink="product-detail" class="btnSuggestItem">
                    <div class="suggestItemSaleTag">
                        -50%
                    </div>
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                    <span>Combo 3 chai Nước giặt OMO</span>
                    <div class="suggestItemPriceSale">
                        <span class="suggestItemPrice">171.000 đ</span>
                        <span class="suggestItemSold">Đã bán 7,5k</span>
                    </div>
                </button>
            </div>
            <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                <button routerLink="product-detail" class="btnSuggestItem">
                    <div class="suggestItemSaleTag">
                        -50%
                    </div>
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                    <span>Combo 3 chai Nước giặt OMO</span>
                    <div class="suggestItemPriceSale">
                        <span class="suggestItemPrice">171.000 đ</span>
                        <span class="suggestItemSold">Đã bán 7,5k</span>
                    </div>
                </button>
            </div>
            <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                <button routerLink="product-detail" class="btnSuggestItem">
                    <div class="suggestItemSaleTag">
                        -50%
                    </div>
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                    <span>Combo 3 chai Nước giặt OMO</span>
                    <div class="suggestItemPriceSale">
                        <span class="suggestItemPrice">171.000 đ</span>
                        <span class="suggestItemSold">Đã bán 7,5k</span>
                    </div>
                </button>
            </div>
            <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                <button routerLink="product-detail" class="btnSuggestItem">
                    <div class="suggestItemSaleTag">
                        -50%
                    </div>
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                    <span>Combo 3 chai Nước giặt OMO</span>
                    <div class="suggestItemPriceSale">
                        <span class="suggestItemPrice">171.000 đ</span>
                        <span class="suggestItemSold">Đã bán 7,5k</span>
                    </div>
                </button>
            </div>
            <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                <button routerLink="product-detail" class="btnSuggestItem">
                    <div class="suggestItemSaleTag">
                        -50%
                    </div>
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                    <span>Combo 3 chai Nước giặt OMO</span>
                    <div class="suggestItemPriceSale">
                        <span class="suggestItemPrice">171.000 đ</span>
                        <span class="suggestItemSold">Đã bán 7,5k</span>
                    </div>
                </button>
            </div>
            <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                <button routerLink="product-detail" class="btnSuggestItem">
                    <div class="suggestItemSaleTag">
                        -50%
                    </div>
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                    <span>Combo 3 chai Nước giặt OMO</span>
                    <div class="suggestItemPriceSale">
                        <span class="suggestItemPrice">171.000 đ</span>
                        <span class="suggestItemSold">Đã bán 7,5k</span>
                    </div>
                </button>
            </div>
            <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                <button routerLink="product-detail" class="btnSuggestItem">
                    <div class="suggestItemSaleTag">
                        -50%
                    </div>
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                    <span>Combo 3 chai Nước giặt OMO</span>
                    <div class="suggestItemPriceSale">
                        <span class="suggestItemPrice">171.000 đ</span>
                        <span class="suggestItemSold">Đã bán 7,5k</span>
                    </div>
                </button>
            </div>
            <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                <button routerLink="product-detail" class="btnSuggestItem">
                    <div class="suggestItemSaleTag">
                        -50%
                    </div>
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                    <span>Combo 3 chai Nước giặt OMO</span>
                    <div class="suggestItemPriceSale">
                        <span class="suggestItemPrice">171.000 đ</span>
                        <span class="suggestItemSold">Đã bán 7,5k</span>
                    </div>
                </button>
            </div>
            <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                <button routerLink="product-detail" class="btnSuggestItem">
                    <div class="suggestItemSaleTag">
                        -50%
                    </div>
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                    <span>Combo 3 chai Nước giặt OMO</span>
                    <div class="suggestItemPriceSale">
                        <span class="suggestItemPrice">171.000 đ</span>
                        <span class="suggestItemSold">Đã bán 7,5k</span>
                    </div>
                </button>
            </div>
            <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                <button routerLink="product-detail" class="btnSuggestItem">
                    <div class="suggestItemSaleTag">
                        -50%
                    </div>
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                    <span>Combo 3 chai Nước giặt OMO</span>
                    <div class="suggestItemPriceSale">
                        <span class="suggestItemPrice">171.000 đ</span>
                        <span class="suggestItemSold">Đã bán 7,5k</span>
                    </div>
                </button>
            </div>
            <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                <button routerLink="product-detail" class="btnSuggestItem">
                    <div class="suggestItemSaleTag">
                        -50%
                    </div>
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                    <span>Combo 3 chai Nước giặt OMO</span>
                    <div class="suggestItemPriceSale">
                        <span class="suggestItemPrice">171.000 đ</span>
                        <span class="suggestItemSold">Đã bán 7,5k</span>
                    </div>
                </button>
            </div>
            <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                <button routerLink="product-detail" class="btnSuggestItem">
                    <div class="suggestItemSaleTag">
                        -50%
                    </div>
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                    <span>Combo 3 chai Nước giặt OMO</span>
                    <div class="suggestItemPriceSale">
                        <span class="suggestItemPrice">171.000 đ</span>
                        <span class="suggestItemSold">Đã bán 7,5k</span>
                    </div>
                </button>
            </div>
            <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                <button routerLink="product-detail" class="btnSuggestItem">
                    <div class="suggestItemSaleTag">
                        -50%
                    </div>
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                    <span>Combo 3 chai Nước giặt OMO</span>
                    <div class="suggestItemPriceSale">
                        <span class="suggestItemPrice">171.000 đ</span>
                        <span class="suggestItemSold">Đã bán 7,5k</span>
                    </div>
                </button>
            </div>
            <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                <button routerLink="product-detail" class="btnSuggestItem">
                    <div class="suggestItemSaleTag">
                        -50%
                    </div>
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                    <span>Combo 3 chai Nước giặt OMO</span>
                    <div class="suggestItemPriceSale">
                        <span class="suggestItemPrice">171.000 đ</span>
                        <span class="suggestItemSold">Đã bán 7,5k</span>
                    </div>
                </button>
            </div>
            <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                <button routerLink="product-detail" class="btnSuggestItem">
                    <div class="suggestItemSaleTag">
                        -50%
                    </div>
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                    <span>Combo 3 chai Nước giặt OMO</span>
                    <div class="suggestItemPriceSale">
                        <span class="suggestItemPrice">171.000 đ</span>
                        <span class="suggestItemSold">Đã bán 7,5k</span>
                    </div>
                </button>
            </div>
            <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                <button routerLink="product-detail" class="btnSuggestItem">
                    <div class="suggestItemSaleTag">
                        -50%
                    </div>
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                    <span>Combo 3 chai Nước giặt OMO</span>
                    <div class="suggestItemPriceSale">
                        <span class="suggestItemPrice">171.000 đ</span>
                        <span class="suggestItemSold">Đã bán 7,5k</span>
                    </div>
                </button>
            </div>
            <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                <button routerLink="product-detail" class="btnSuggestItem">
                    <div class="suggestItemSaleTag">
                        -50%
                    </div>
                    <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                    <span>Combo 3 chai Nước giặt OMO</span>
                    <div class="suggestItemPriceSale">
                        <span class="suggestItemPrice">171.000 đ</span>
                        <span class="suggestItemSold">Đã bán 7,5k</span>
                    </div>
                </button>
            </div>

        </div>
        <div class="btnMoreSuggestContainer">
            <button>
                Xem Thêm
            </button>
        </div>
    </div>
</div>