<div class="grid wide wrapper">
    <!-- Header -->
    <div id="headerID" class="row header">
        <div class="col l-10 l-o-1 m-10 m-o-1 c-10 c-o-1">
            <div class="bottomOfHeaderContainer">
                <div class="logo">
                    <img src="resource/img/logo-no-background.png" alt="">
                </div>
                <!--  -->
            </div>
        </div>
    </div>
    <div id="backHeaderID"></div>
    <div class="row signUpContainer">
        <div class="signUp">
            <form action="#" method="post">
                <div class="titleSignUp">
                    <span>Đăng Ký</span>
                </div>
                <!-- Email -->
                <div class="emailBox">
                    <!-- <span>Email</span> -->
                    <input type="email" name="email" id="email" value="" placeholder="Email" #email>
                </div>
                <!-- Mật khẩu -->
                <div class="passwordBox">
                    <!-- <span>Mật khẩu</span> -->
                    <input type="password" name="password" id="" value="" placeholder="Mật khẩu" #password>
                </div>
                <!-- Tên -->
                <div class="emailBox">
                    <input type="text" placeholder="Họ và tên" name="fullname" id="" value="" #fullname>
                </div>
                <div class="emailBox">
                    <input type="file" placeholder="avatar" name="avatar" (change)="onFileSelected($event)" id="" value="" #avatar>
                </div>
                <!-- Số điện thoại -->
                <div class="emailBox">
                    <input type="text" placeholder="Số điện thoại" name="phone" id="" value="" maxlength="10" #phone>
                </div>
                <!-- Ngày sinh -->
                <div class="emailBox">
                    <input type="date" style="width: 100%; color: black;" #birthday>
                </div>
                <!-- Giới tính -->
                <div class="genderBox">
                    <select name="" id="" #gender>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
                <!-- Nút xác nhận -->
                <div class="signUpBtnBox">
                    <button type="button" (click)="register_user(email,password,fullname,phone,birthday,gender)">Đăng ký</button>
                </div>
            </form>
            <div class="toSignUp">
                <span>Đã có tài khoản ? <a href="#" routerLink="/sign-in">Đăng nhập</a></span>
            </div>
        </div>
    </div>  
    <!-- Footer -->
    <div class="row footer">
        <div class="col l-10 l-o-1 m-10 m-o-1 c-12">
            <div class="topFooter">
                <div class="customerCareContainer">
                    <span>CHĂM SÓC KHÁCH HÀNG</span>
                    <a href="#">
                        Trung Tâm Trợ Giúp
                    </a>
                    <a href="#">
                        Shopee Blog
                    </a>
                    <a href="#">
                        Shopee Mall
                    </a>
                    <a href="#">
                        Hướng Dẫn Mua Hàng
                    </a>
                    <a href="#">
                        Hướng Dẫn Bán Hàng
                    </a>
                    <a href="#">
                        Thanh Toán
                    </a>
                    <a href="#">
                        Shopee Xu
                    </a>
                    <a href="#">
                        Vận Chuyển
                    </a>
                    <a href="#">
                        Trả Hàng & Hoàn Tiền
                    </a>
                    <a href="#">
                        Liên Hệ Shopee
                    </a>
                    <a href="#">
                        Chính Sách Bào Hành
                    </a>
                </div>
                <div class="aboutShopee">
                    <span>VỀ WOLFTECHE</span>
                    <a href="#">
                        Giới Thiệu Về WolfTechE Việt Nam
                    </a>
                    <a href="#">
                        Tuyển Dụng
                    </a>
                    <a href="#">
                        Điều Khoản WolfTechE
                    </a>
                    <a href="#">
                        Chính Sách Bảo Mật
                    </a>
                    <a href="#">
                        Chính Hãng
                    </a>
                    <a href="#">
                        Kênh Người Bán
                    </a>
                    <a href="#">
                        Flash Sale
                    </a>
                    <a href="#">
                        Chương Trình Tiếp Thị Liên Kết WolfTechE
                    </a>
                    <a href="#">
                        Liên Hệ Với Truyền Thông
                    </a>
                </div>
                <div class="payAndShippingInfo">
                    <div class="payInfo">
                        <span>THANH TOÁN</span>
                        <div class="payInfoImages">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Visa_Inc._logo.svg/1024px-Visa_Inc._logo.svg.png" alt="">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Mastercard-logo.svg/2560px-Mastercard-logo.svg.png" alt="">
                            <img src="https://cdn-icons-png.flaticon.com/256/196/196559.png" alt="">
                            <img src="https://upload.wikimedia.org/wikipedia/vi/f/fe/MoMo_Logo.png" alt="">
                            <img src="https://cdn.haitrieu.com/wp-content/uploads/2022/10/Logo-ZaloPay.png" alt="">
                            <img src="https://seeklogo.com/images/S/shopeepay-logo-11DACD6CCF-seeklogo.com.png" alt="">
                        </div>
                    </div>
                    <div class="shippingInfo">
                        <span>ĐƠN VỊ VẬN CHUYỂN</span>
                        <div class="shippingInfoImages">
                            <img src="https://vietclass.vn/wp-content/uploads/2021/12/3fa2aa9a8653313af4f70898dc85e5c3.png" alt="">
                            <img src="https://cdn.haitrieu.com/wp-content/uploads/2022/05/Logo-GHTK-H.png" alt="">
                            <img src="https://cdn.haitrieu.com/wp-content/uploads/2022/05/Logo-GHN-Slogan-En.png" alt="">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/8/80/Viettel_Post_logo.svg" alt="">
                            <img src="https://cdn.haitrieu.com/wp-content/uploads/2022/01/Logo-VietNam-Post.png" alt="">
                            <img src="https://cdn.haitrieu.com/wp-content/uploads/2022/05/Logo-JT-Express-Slogan.png" alt="">
                            <img src="https://www.tiendauroi.com/wp-content/uploads/2020/02/Grab-express.png" alt="">
                            <img src="https://cdn.haitrieu.com/wp-content/uploads/2022/05/Logo-Ninjavan-V.png" alt="">
                            <img src="https://i.gyazo.com/2b14a0acb6107935ebaa6dca4229a4c1.png" alt="">
                            <img src="https://i.gyazo.com/32fdd76e5b8a4ce135d704750d4ad5c9.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="otherPlatform">
                    <span>THEO DÕI CHÚNG TÔI TRÊN</span>
                    <div class="otherPlatformLink">
                        <a href="#">
                            <i class="fa-brands fa-facebook"></i> Facebook
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-instagram"></i> Instagram
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-linkedin"></i> LinkedIn
                        </a>
                    </div>
                </div>
                <div class="downloadAppShopee">
                    <span>TẢI ỨNG DỤNG WOLFTECHE NGAY THÔI</span>
                    <div class="linkDownload">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Download_on_the_App_Store_Badge.svg/2560px-Download_on_the_App_Store_Badge.svg.png" alt="">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Google_Play_Store_badge_EN.svg/2560px-Google_Play_Store_badge_EN.svg.png" alt="">
                    </div>
                </div>
            </div>
            <div class="midFooter">
                <span>© 2024 WolfTechE. Tất cả các quyền được bảo lưu.</span>
            </div>
        </div>
    </div>
</div>