<div class="dashboardContainer">
    <!-- Phần tiêu đề -->
    <div class="titleDashboard">
        <span>Dashboard</span>
        <span style="color: #444; font-size: 16px; font-weight: 400;">Kiểm tra các chỉ số, doanh thu bán hàng,...</span>
    </div>
    <!-- Phần chỉ số -->
    <div class="numeralBox">
        <!-- Numeral -->
        <div class="numeralContainer">
            <div class="numeral">
                <div class="top">
                    <div class="leftTop">
                        <span>Today's Money</span>
                        <span style="color: black; font-size: 23px; font-weight: 700;">1.300k</span>
                    </div>
                    <div class="rightTop">
                        <img src="resource/img/real_estate_agent_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.png" alt="">
                    </div>
                </div>
                <div class="bottom">
                    <span><span style="color: #2ecc71; font-weight: 700;">+10%</span> than last day</span>
                </div>
            </div>
        </div>
        <!-- Numeral -->
        <div class="numeralContainer">
            <div class="numeral">
                <div class="top">
                    <div class="leftTop">
                        <span>Today's User</span>
                        <span style="color: black; font-size: 23px; font-weight: 700;">2300</span>
                    </div>
                    <div class="rightTop">
                        <img src="resource/img/person_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.png" alt="">
                    </div>
                </div>
                <div class="bottom">
                    <span><span style="color: #2ecc71; font-weight: 700;">+10%</span> than last day</span>
                </div>
            </div>
        </div>
        <!-- Numeral -->
        <div class="numeralContainer">
            <div class="numeral">
                <div class="top">
                    <div class="leftTop">
                        <span>Views</span>
                        <span style="color: black; font-size: 23px; font-weight: 700;">3.423</span>
                    </div>
                    <div class="rightTop">
                        <img src="resource/img/view_kanban_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.png" alt="">
                    </div>
                </div>
                <div class="bottom">
                    <span><span style="color: #e74c3c; font-weight: 700;"> -2%</span> than last day</span>
                </div>
            </div>
        </div>
        <!-- Numeral -->
        <div class="numeralContainer">
            <div class="numeral">
                <div class="top">
                    <div class="leftTop">
                        <span>Sales</span>
                        <span style="color: black; font-size: 23px; font-weight: 700;">100.000k</span>
                    </div>
                    <div class="rightTop">
                        <img src="resource/img/paid_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.png" alt="">
                    </div>
                </div>
                <div class="bottom">
                    <span><span style="color: #2ecc71; font-weight: 700;">+10%</span> than last day</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Phần biểu đồ -->
    <div class="chartBox">
        <!-- Biểu đồ -->
        <div class="chartContainer">
            <div class="top">
                <span>Monthly Sales</span>
                <span style="color: #555; font-weight: 400; font-size: 14px;">Doanh thu mỗi tháng</span>
            </div>
            <div class="middle">
                <canvas id="monthlySalesChartID" class="monthlySalesChart"></canvas>
            </div>
            <div class="bottom">
                <span> Cập nhật tháng trước</span>
            </div>
        </div>
    </div>
</div>
