<!-- Phần danh sách sản phẩm -->
<div class="row productListContainer">
    <div class="col l-10 l-o-1 m-10 m-o-1 c-12 productListMain">
        <div id="leftOfProductListID" class="leftOfProductList">
            <!-- Nút đóng bộ lọc sản phẩm (trên điện thoại) -->
            <div class="btnCloseFilterProductList">
                <button (click)="closeFilterProductList()"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="titleFilterProductList">
                <span><i class="fa-solid fa-filter"></i> BỘ LỌC TÌM KIẾM</span>
            </div>
            <div class="filterBasePlace">
                <div class="filterBasePlaceCheckbox">Nơi bán</div>
                <div class="filterBasePlaceCheckbox"><input type="checkbox"> TP. Hồ Chí Minh</div>
                <div class="filterBasePlaceCheckbox"><input type="checkbox"> Hà Nội</div>
                <div class="filterBasePlaceCheckbox"><input type="checkbox"> Đà Nẵng</div>
                <div class="filterBasePlaceCheckbox"><input type="checkbox"> Đồng Nai</div>
                <div class="filterBasePlaceCheckbox"><input type="checkbox"> Bình Dương</div>
                <div class="filterBasePlaceCheckbox"><input type="checkbox"> Bà Rịa - Vùng Tàu</div>
            </div>
            <div class="filterBaseBrand">
                <div class="filterBaseBrandCheckbox">Thương Hiệu</div>
                <div class="filterBaseBrandCheckbox"><input type="checkbox"> Philips</div>
                <div class="filterBaseBrandCheckbox"><input type="checkbox"> Panasonic</div>
                <div class="filterBaseBrandCheckbox"><input type="checkbox"> Xiaomi</div>
                <div class="filterBaseBrandCheckbox"><input type="checkbox"> SUNHOUSE</div>
                <div class="filterBaseBrandCheckbox"><input type="checkbox"> Bosch</div>
            </div>
            <div class="filterBaseRating">
                <div class="">Đánh Giá</div>
                <!-- 5 sao -->
                <button class="filterBaseRatingChoice">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </button>
                <!-- 4 sao -->
                <button class="filterBaseRatingChoice">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </button>
                <!-- 3 sao -->
                <button class="filterBaseRatingChoice">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </button>
                <!-- 2 sao -->
                <button class="filterBaseRatingChoice">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </button>
            </div>
            <div class="filterBaseCategory">
                <!-- Danh mục -->
            </div>
            <div class="btnActiveFilter">
                <button>
                    ÁP DỤNG
                </button>
            </div>
        </div>
        <div class="rightOfProductList">
            <!-- Nút mở Bộ lọc sản phẩm trên điện thoại -->
            <div class="btnOpenFilterProductList">
                <button (click)="openFilterProductList()"><span><i class="fa-solid fa-filter"></i> BỘ LỌC TÌM KIẾM</span></button>
            </div>
            <!-- List sản phẩm -->
            <div class="row listSuggest">
                <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                    <button routerLink="/product-detail" class="btnSuggestItem">
                        <div class="suggestItemSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="suggestItemPriceSale">
                            <span class="suggestItemPrice">171.000 đ</span>
                            <span class="suggestItemSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                    <button routerLink="/product-detail" class="btnSuggestItem">
                        <div class="suggestItemSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="suggestItemPriceSale">
                            <span class="suggestItemPrice">171.000 đ</span>
                            <span class="suggestItemSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                    <button routerLink="/product-detail" class="btnSuggestItem">
                        <div class="suggestItemSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="suggestItemPriceSale">
                            <span class="suggestItemPrice">171.000 đ</span>
                            <span class="suggestItemSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                    <button routerLink="/product-detail" class="btnSuggestItem">
                        <div class="suggestItemSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="suggestItemPriceSale">
                            <span class="suggestItemPrice">171.000 đ</span>
                            <span class="suggestItemSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                    <button routerLink="/product-detail" class="btnSuggestItem">
                        <div class="suggestItemSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="suggestItemPriceSale">
                            <span class="suggestItemPrice">171.000 đ</span>
                            <span class="suggestItemSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                    <button routerLink="/product-detail" class="btnSuggestItem">
                        <div class="suggestItemSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="suggestItemPriceSale">
                            <span class="suggestItemPrice">171.000 đ</span>
                            <span class="suggestItemSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                    <button routerLink="/product-detail" class="btnSuggestItem">
                        <div class="suggestItemSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="suggestItemPriceSale">
                            <span class="suggestItemPrice">171.000 đ</span>
                            <span class="suggestItemSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                    <button routerLink="/product-detail" class="btnSuggestItem">
                        <div class="suggestItemSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="suggestItemPriceSale">
                            <span class="suggestItemPrice">171.000 đ</span>
                            <span class="suggestItemSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                    <button routerLink="/product-detail" class="btnSuggestItem">
                        <div class="suggestItemSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="suggestItemPriceSale">
                            <span class="suggestItemPrice">171.000 đ</span>
                            <span class="suggestItemSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                    <button routerLink="/product-detail" class="btnSuggestItem">
                        <div class="suggestItemSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="suggestItemPriceSale">
                            <span class="suggestItemPrice">171.000 đ</span>
                            <span class="suggestItemSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                    <button routerLink="/product-detail" class="btnSuggestItem">
                        <div class="suggestItemSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="suggestItemPriceSale">
                            <span class="suggestItemPrice">171.000 đ</span>
                            <span class="suggestItemSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                    <button routerLink="/product-detail" class="btnSuggestItem">
                        <div class="suggestItemSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="suggestItemPriceSale">
                            <span class="suggestItemPrice">171.000 đ</span>
                            <span class="suggestItemSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                    <button routerLink="/product-detail" class="btnSuggestItem">
                        <div class="suggestItemSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="suggestItemPriceSale">
                            <span class="suggestItemPrice">171.000 đ</span>
                            <span class="suggestItemSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                    <button routerLink="/product-detail" class="btnSuggestItem">
                        <div class="suggestItemSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="suggestItemPriceSale">
                            <span class="suggestItemPrice">171.000 đ</span>
                            <span class="suggestItemSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                    <button routerLink="/product-detail" class="btnSuggestItem">
                        <div class="suggestItemSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="suggestItemPriceSale">
                            <span class="suggestItemPrice">171.000 đ</span>
                            <span class="suggestItemSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                    <button routerLink="/product-detail" class="btnSuggestItem">
                        <div class="suggestItemSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="suggestItemPriceSale">
                            <span class="suggestItemPrice">171.000 đ</span>
                            <span class="suggestItemSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                    <button routerLink="/product-detail" class="btnSuggestItem">
                        <div class="suggestItemSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="suggestItemPriceSale">
                            <span class="suggestItemPrice">171.000 đ</span>
                            <span class="suggestItemSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                    <button routerLink="/product-detail" class="btnSuggestItem">
                        <div class="suggestItemSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="suggestItemPriceSale">
                            <span class="suggestItemPrice">171.000 đ</span>
                            <span class="suggestItemSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                    <button routerLink="/product-detail" class="btnSuggestItem">
                        <div class="suggestItemSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="suggestItemPriceSale">
                            <span class="suggestItemPrice">171.000 đ</span>
                            <span class="suggestItemSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                    <button routerLink="/product-detail" class="btnSuggestItem">
                        <div class="suggestItemSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="suggestItemPriceSale">
                            <span class="suggestItemPrice">171.000 đ</span>
                            <span class="suggestItemSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                    <button routerLink="/product-detail" class="btnSuggestItem">
                        <div class="suggestItemSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="suggestItemPriceSale">
                            <span class="suggestItemPrice">171.000 đ</span>
                            <span class="suggestItemSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                    <button routerLink="/product-detail" class="btnSuggestItem">
                        <div class="suggestItemSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="suggestItemPriceSale">
                            <span class="suggestItemPrice">171.000 đ</span>
                            <span class="suggestItemSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                    <button routerLink="/product-detail" class="btnSuggestItem">
                        <div class="suggestItemSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="suggestItemPriceSale">
                            <span class="suggestItemPrice">171.000 đ</span>
                            <span class="suggestItemSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                    <button routerLink="/product-detail" class="btnSuggestItem">
                        <div class="suggestItemSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="suggestItemPriceSale">
                            <span class="suggestItemPrice">171.000 đ</span>
                            <span class="suggestItemSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                    <button routerLink="/product-detail" class="btnSuggestItem">
                        <div class="suggestItemSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="suggestItemPriceSale">
                            <span class="suggestItemPrice">171.000 đ</span>
                            <span class="suggestItemSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                    <button routerLink="/product-detail" class="btnSuggestItem">
                        <div class="suggestItemSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="suggestItemPriceSale">
                            <span class="suggestItemPrice">171.000 đ</span>
                            <span class="suggestItemSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                    <button routerLink="/product-detail" class="btnSuggestItem">
                        <div class="suggestItemSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="suggestItemPriceSale">
                            <span class="suggestItemPrice">171.000 đ</span>
                            <span class="suggestItemSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                    <button routerLink="/product-detail" class="btnSuggestItem">
                        <div class="suggestItemSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="suggestItemPriceSale">
                            <span class="suggestItemPrice">171.000 đ</span>
                            <span class="suggestItemSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                    <button routerLink="/product-detail" class="btnSuggestItem">
                        <div class="suggestItemSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="suggestItemPriceSale">
                            <span class="suggestItemPrice">171.000 đ</span>
                            <span class="suggestItemSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                    <button routerLink="/product-detail" class="btnSuggestItem">
                        <div class="suggestItemSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="suggestItemPriceSale">
                            <span class="suggestItemPrice">171.000 đ</span>
                            <span class="suggestItemSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
    
            </div>
            <!-- Pagination -->
            <div class="pagination">
                <a class="" href="#">&laquo;</a>
                <a class="active" href="#">1</a>
                <a class="" href="#">2</a>
                <a class="" href="#">3</a>
                <a class="" href="#">4</a>
                <a class="" href="#">5</a>
                <a class="" href="#">6</a>
                <a class="" href="#">&raquo;</a>
            </div>
        </div>
    </div>
</div>