/* CSS Suggest */
.suggest{
    margin: 0;
    margin-top: 20px;
}
.suggest .col{
    /* background-color: white; */
    border-radius: 4px;
    padding: 0;
}
.suggest .titleSuggest{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    /* border-bottom: 5px solid orangered; */
    border-bottom: 5px solid #a61713;;
    background-color: white;
    border-radius: 4px 4px 0px 0px;
    position: sticky;
    top: 131px;
    background-color: rgba(255, 255, 255, 0.815);
    backdrop-filter: blur(10px);
    z-index: 1;
}
.suggest .titleSuggest span{
    font-size: 20px;
    /* color: orangered; */
    color: #a61713;
}
.suggest .listSuggest{
    margin: 0;
    padding: 5px;
    background-color: #f5f5f5;
    justify-content: space-evenly;
}
.suggest .listSuggest .btnSuggestItemContainer{
    padding: 5px;
}
.suggest .listSuggest .btnSuggestItem{
    border: .5px solid #0000001c;
    /* padding: 10px; */
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    /* margin: 15px 5px; */
    position: relative;
    background-color: white;
    padding: 0;
}
.suggest .listSuggest .btnSuggestItem .suggestItemSaleTag{
    background-color: #feeeeac8;
    /* color: orangered; */
    color: #a61713;
    position: absolute;
    right: 0;
    top: 0;
    padding: 3px;
    border-radius: 0px 5px 0px 0px;
}
.suggest .listSuggest .btnSuggestItem:hover{
    /* border: .5px solid orangered; */
    border: .5px solid #a61713;
}
.suggest .listSuggest .btnSuggestItem .suggestItemPriceSale{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.suggest .listSuggest .btnSuggestItem .suggestItemPriceSale .suggestItemPrice{
    /* color: orangered; */
    color: #a61713;
    font-weight: 300;
    font-size: 15px;
}
.suggest .listSuggest .btnSuggestItem .suggestItemPriceSale .suggestItemSold{
    font-weight: 300;
    color: black;
    font-size: 12px;
}
.suggest .listSuggest .btnSuggestItem img{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}
.suggest .listSuggest .btnSuggestItem span{
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-align: left;
    padding: 5px;
    margin: 3px 0px;
}
.suggest .btnMoreSuggestContainer{
    width: 100%;
    text-align: center;
}
.suggest .btnMoreSuggestContainer button{
    border: .5px solid #0000001c;
    background-color: white;
    padding: 15px 25px;
    border-radius: 4px;
    cursor: pointer;
    color: dimgray;
}
.suggest .btnMoreSuggestContainer button:hover{
    background-color: #3d3d3d1c;
}
/* Hết CSS Suggest */



/*                           MEDIA QUERY                          */
/***** 1. Thiết bị có kích thước màn hình 740px - 1023px (màn hình tablet và laptop nhỏ) *****/
@media (min-width: 740px) and (max-width: 1023px) {

}
/***** 2. Thiết bị có kích thước màn hình 1024px - 1239px (màn của PC or Laptop) *****/
@media (min-width: 1024px) and (max-width: 1239px) {
    
}
/***** 3. Thiết bị có kích thước màn hình >= 740px (màn từ Tablet trở lên) *****/
@media (min-width: 740px) {

}
/***** 4. Thiết bị có kích thước màn hình >= 1113px (PC or Laptop có màn lớn) *****/
@media (min-width: 1113px){
    
}
/***** 5. Thiết bị có kích thước màn hình <= 600px (Điện thoại) *****/
@media (max-width: 600px){
    .suggest{
        margin: 0;
        margin-top: 0px;
    }
    .suggest .col{
        /* background-color: white; */
        border-radius: 0px;
        padding: 0;
    }
    .suggest .titleSuggest{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0px;
        /* border-bottom: 5px solid orangered; */
        border-bottom: 5px solid #a61713;;
        background-color: white;
        border-radius: 4px 4px 0px 0px;
        position: sticky;
        top: 60px;
        background-color: rgba(255, 255, 255, 0.815);
        backdrop-filter: blur(10px);
        z-index: 1;
    }
}