<div class="categoryManagementContainer">
    <!-- Phần tiêu đề -->
    <div class="title">
        <span>Quản lý loại</span>
        <span style="color: #444; font-size: 16px; font-weight: 400;">Kiểm tra, chỉnh sửa hoặc xóa dữ liệu loại sản phẩm,...</span>
    </div>
    <!-- Bảng sản phẩm -->
    <div class="categoryTable">
        <div class="titleTable">
            <span>Category Table</span>
            <button class="btnAddCategory">Thêm +</button>
        </div>
        <div class="tableContainer">
            <table>
                <thead>
                    <tr><td>STT</td><td>Tên</td><td>Hình</td><td>Thao tác</td></tr>
                </thead>
                <tbody>
                    <!-- 1 hàng -->
                    <tr>
                        <td>1</td>
                        <td>Hoa hồng</td>
                        <td>
                            <img src="https://bouqs.com/cdn-cgi/image/height=454,fit=cover,quality=80,width=454,format=auto/media/W1siZiIsIjIwMjQvMDgvMjMvMTcvNDIvNDUvOTljODZmNTItMGM0MC00MDkwLTgzZDItNTJkYzZjY2RkOTBkL0ZBTEwyNF9ERUxJTEFIX09TXzAyNTNfV2ViLmpwZyJdXQ/FALL24_DELILAH_OS_0253_Web.jpg?sha=1fdacf040343961d" alt="">
                        </td>
                        <td class="operationCol">
                            <button class="btnEdit">Sửa</button>
                            <button class="btnDelete">Xóa</button>
                        </td>
                    </tr>
                    <!-- 1 hàng -->
                    <tr>
                        <td>2</td>
                        <td>Hoa lan</td>
                        <td>
                            <img src="https://bouqs.com/cdn-cgi/image/height=454,fit=cover,quality=80,width=454,format=auto/media/W1siZiIsIjIwMjQvMDgvMjMvMTcvNDIvNDUvOTljODZmNTItMGM0MC00MDkwLTgzZDItNTJkYzZjY2RkOTBkL0ZBTEwyNF9ERUxJTEFIX09TXzAyNTNfV2ViLmpwZyJdXQ/FALL24_DELILAH_OS_0253_Web.jpg?sha=1fdacf040343961d" alt="">
                        </td>
                        <td class="operationCol">
                            <button class="btnEdit">Sửa</button>
                            <button class="btnDelete">Xóa</button>
                        </td>
                    </tr>
                    <!-- 1 hàng -->
                    <tr>
                        <td>3</td>
                        <td>Hoa tulip</td>
                        <td>
                            <img src="https://bouqs.com/cdn-cgi/image/height=454,fit=cover,quality=80,width=454,format=auto/media/W1siZiIsIjIwMjQvMDgvMjMvMTcvNDIvNDUvOTljODZmNTItMGM0MC00MDkwLTgzZDItNTJkYzZjY2RkOTBkL0ZBTEwyNF9ERUxJTEFIX09TXzAyNTNfV2ViLmpwZyJdXQ/FALL24_DELILAH_OS_0253_Web.jpg?sha=1fdacf040343961d" alt="">
                        </td>
                        <td class="operationCol">
                            <button class="btnEdit">Sửa</button>
                            <button class="btnDelete">Xóa</button>
                        </td>
                    </tr>
                    <!-- 1 hàng -->
                    <tr>
                        <td>4</td>
                        <td>Hoa giấy</td>
                        <td>
                            <img src="https://bouqs.com/cdn-cgi/image/height=454,fit=cover,quality=80,width=454,format=auto/media/W1siZiIsIjIwMjQvMDgvMjMvMTcvNDIvNDUvOTljODZmNTItMGM0MC00MDkwLTgzZDItNTJkYzZjY2RkOTBkL0ZBTEwyNF9ERUxJTEFIX09TXzAyNTNfV2ViLmpwZyJdXQ/FALL24_DELILAH_OS_0253_Web.jpg?sha=1fdacf040343961d" alt="">
                        </td>
                        <td class="operationCol">
                            <button class="btnEdit">Sửa</button>
                            <button class="btnDelete">Xóa</button>
                        </td>
                    </tr>
                    <!-- 1 hàng -->
                    <tr>
                        <td>5</td>
                        <td>Hoa oải hương</td>
                        <td>
                            <img src="https://bouqs.com/cdn-cgi/image/height=454,fit=cover,quality=80,width=454,format=auto/media/W1siZiIsIjIwMjQvMDgvMjMvMTcvNDIvNDUvOTljODZmNTItMGM0MC00MDkwLTgzZDItNTJkYzZjY2RkOTBkL0ZBTEwyNF9ERUxJTEFIX09TXzAyNTNfV2ViLmpwZyJdXQ/FALL24_DELILAH_OS_0253_Web.jpg?sha=1fdacf040343961d" alt="">
                        </td>
                        <td class="operationCol">
                            <button class="btnEdit">Sửa</button>
                            <button class="btnDelete">Xóa</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Pagination -->
        <div class="pagination">
            <a class="" href="#">&laquo;</a>
            <a class="active" href="#">1</a>
            <a class="" href="#">2</a>
            <a class="" href="#">3</a>
            <a class="" href="#">4</a>
            <a class="" href="#">5</a>
            <a class="" href="#">6</a>
            <a class="" href="#">&raquo;</a>
        </div>
    </div>
</div>