<div class="row shopInfoPageContainer">
    <div class="col l-10 l-o-1 m-10 m-o-1 c-12 topOfShopInfoPage">
        <div class="shopInfo">
            <div class="shopAvatar">
                <div class="shopAvatarDetail">
                    <img src="https://down-bs-vn.img.susercontent.com/583cd0592fee6b28228542d5619ebd59_tn.webp" alt="">
                    <span class="shopName">Panasonic</span>
                </div>
                <div class="btnOfShopInfoContainer">
                    <button><i class="fa-solid fa-plus"></i> THEO DÕI</button>
                    <button><i class="fa-regular fa-message"></i> CHAT</button>
                </div>
            </div>
            <div class="shopNumeral">
                <div class="shopNumeralRating">
                    <span>
                        <i class="fa-solid fa-star" style="color: #222;"></i> Đánh Giá
                    </span>
                    <span style="color: #a61713; font-weight: 400;">
                        1,2k
                    </span>
                </div>
                <div class="shopNumeralProduct">
                    <span>
                        <i class="fa-solid fa-store" style="color: #222;"></i> Sản Phẩm
                    </span>
                    <span style="color: #a61713; font-weight: 400;"> 
                        96
                    </span>
                </div>
                <div class="shopNumeralJoin">
                    <span>
                        <i class="fa-solid fa-user-plus" style="color: #222;"></i> Tham Gia
                    </span>
                    <span style="color: #a61713; font-weight: 400;">
                        4 năm trước
                    </span>
                </div>
                <div class="shopNumeralFollowers">
                    <span>
                        <i class="fa-solid fa-users" style="color: #222;"></i> Người Theo Dõi
                    </span>
                    <span style="color: #a61713; font-weight: 400;">
                        3,5k
                    </span>
                </div>
            </div>
        </div>
        <div class="shopMenuNav">
            
        </div>
    </div>
    <div class="col l-10 l-o-1 m-10 m-o-1 c-12 mainOfShopInfoPage">

    </div>
</div>