<div class="row shopInfoPageContainer">
    <!-- Phần top của Shop Page -->
    <div class="col l-10 l-o-1 m-10 m-o-1 c-12 topOfShopInfoPage">
        <div class="shopInfo">
            <div class="shopAvatar">
                <div class="shopAvatarDetail">
                    <img src="https://down-bs-vn.img.susercontent.com/583cd0592fee6b28228542d5619ebd59_tn.webp" alt="">
                    <span class="shopName">Panasonic</span>
                </div>
                <div class="btnOfShopInfoContainer">
                    <button><i class="fa-solid fa-plus"></i> THEO DÕI</button>
                    <button><i class="fa-regular fa-message"></i> CHAT</button>
                </div>
            </div>
            <div class="shopNumeral">
                <div class="shopNumeralRating">
                    <span>
                        <i class="fa-solid fa-star" style="color: #222;"></i> Đánh Giá
                    </span>
                    <span style="color: #a61713; font-weight: 400;">
                        1,2k
                    </span>
                </div>
                <div class="shopNumeralProduct">
                    <span>
                        <i class="fa-solid fa-store" style="color: #222;"></i> Sản Phẩm
                    </span>
                    <span style="color: #a61713; font-weight: 400;"> 
                        96
                    </span>
                </div>
                <div class="shopNumeralJoin">
                    <span>
                        <i class="fa-solid fa-user-plus" style="color: #222;"></i> Tham Gia
                    </span>
                    <span style="color: #a61713; font-weight: 400;">
                        4 năm trước
                    </span>
                </div>
                <div class="shopNumeralFollowers">
                    <span>
                        <i class="fa-solid fa-users" style="color: #222;"></i> Người Theo Dõi
                    </span>
                    <span style="color: #a61713; font-weight: 400;">
                        3,5k
                    </span>
                </div>
            </div>
        </div>
        <div class="shopMenuNav">
            <button class="checked">
                Trang Chính
            </button>
            <a href="">
                <button class="">
                    Tất Cả Sản Phẩm
                </button>
            </a>
        </div>
    </div>
    <!-- Phần main của Shop Page -->
    <div class="col l-10 l-o-1 m-10 m-o-1 c-12 mainOfShopInfoPage">
        <!-- Slide tin tức banner của shop -->
        <div class="newsInShopPage">
            <div id="slideNewsInShopPageID" class="slideNewsInShopPage">
                <button id="btnLeftSlideNewsID" class="btnLeftSlideNews">
                    <i class="fa-solid fa-caret-left"></i>
                </button>
                <div id="slideNewsImageInShopPageID" class="slideNewsImageInShopPage">
                    <img src="https://cf.shopee.vn/file/vn-11134258-7r98o-m04765kvchovec_xxhdpi" alt="" style="margin-left: 0px;">
                    <img src="https://cf.shopee.vn/file/vn-11134258-7r98o-m08aekl0p0bxbb_xxhdpi" alt="">
                    <img src="https://cf.shopee.vn/file/vn-11134258-7r98o-m0478qxsq6j3d1_xxhdpi" alt="">
                    <img src="https://cf.shopee.vn/file/vn-11134258-7r98o-m08i96pe504t6d_xxhdpi" alt="">
                    <img src="https://cf.shopee.vn/file/vn-11134258-7r98o-m047ds0tqdfz69_xxhdpi" alt="">
                    <img src="https://cf.shopee.vn/file/vn-11134258-7r98o-m047k5mrq5m577_xxhdpi" alt="" style="margin-right: 0px;">
                </div>
                <button id="btnRightSlideNewsID" class="btnRightSlideNews">
                    <i class="fa-solid fa-caret-right"></i>
                </button>
            </div>
        </div>
        <!-- Phần list sản phẩm gợi ý -->
        <div class="otherProductOfShopContainer">
            <div class="topOfOtherProduct">
                <span class="titleOtherProductOfShop">CÁC SẢN PHẨM KHÁC CỦA SHOP</span>
                <div class="rightOfTopOtherProduct">
                    <a href="#">Xem tất cả</a>
                    <div class="btnMoveOtherProductContainer">
                        <button id="btnMoveOtherProductLeftID">
                            <i class="fa-solid fa-caret-left"></i>
                        </button>
                        <button id="btnMoveOtherProductRightID">
                            <i class="fa-solid fa-caret-right"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row listOtherProductOfShop">
                <!-- Item -->
                <div class="col l-2 m-3 c-4 btnOtherProductOfShopContainer">
                    <button class="btnOtherProductOfShop">
                        <div class="otherProductOfShopSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/sg-11134201-22090-m8b81fd6hthva7@resize_w450_nl.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="otherProductOfShopPriceSale">
                            <span class="otherProductOfShopPrice">171.000 đ</span>
                            <span class="otherProductOfShopSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <!-- Item -->
                <div class="col l-2 m-3 c-4 btnOtherProductOfShopContainer">
                    <button class="btnOtherProductOfShop">
                        <div class="otherProductOfShopSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lvcrh2vd6gel00@resize_w450_nl.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="otherProductOfShopPriceSale">
                            <span class="otherProductOfShopPrice">171.000 đ</span>
                            <span class="otherProductOfShopSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <!-- Item -->
                <div class="col l-2 m-3 c-4 btnOtherProductOfShopContainer">
                    <button class="btnOtherProductOfShop">
                        <div class="otherProductOfShopSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lpje74h6iqt105@resize_w450_nl.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="otherProductOfShopPriceSale">
                            <span class="otherProductOfShopPrice">171.000 đ</span>
                            <span class="otherProductOfShopSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <!-- Item -->
                <div class="col l-2 m-3 c-4 btnOtherProductOfShopContainer">
                    <button class="btnOtherProductOfShop">
                        <div class="otherProductOfShopSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/8463cbd5e2468b63f8a83f63c2ebf411@resize_w450_nl.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="otherProductOfShopPriceSale">
                            <span class="otherProductOfShopPrice">171.000 đ</span>
                            <span class="otherProductOfShopSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <!-- Item -->
                <div class="col l-2 m-3 c-4 btnOtherProductOfShopContainer">
                    <button class="btnOtherProductOfShop">
                        <div class="otherProductOfShopSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/b8a07c67a7b0bff34e66aa8ace1c0aee@resize_w450_nl.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="otherProductOfShopPriceSale">
                            <span class="otherProductOfShopPrice">171.000 đ</span>
                            <span class="otherProductOfShopSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
                <!-- Item -->
                <div class="col l-2 m-3 c-4 btnOtherProductOfShopContainer">
                    <button class="btnOtherProductOfShop">
                        <div class="otherProductOfShopSaleTag">
                            -50%
                        </div>
                        <img src="https://down-vn.img.susercontent.com/file/sg-11134201-22100-ips092ft3pivdb@resize_w450_nl.webp" alt="">
                        <span>Combo 3 chai Nước giặt OMO</span>
                        <div class="otherProductOfShopPriceSale">
                            <span class="otherProductOfShopPrice">171.000 đ</span>
                            <span class="otherProductOfShopSold">Đã bán 7,5k</span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <!-- Phần list sản phẩm bán chạy -->
        <div id="productListMainID" class="productListMain">
            <div id="leftOfProductListID" class="leftOfProductList">
                <!-- Nút đóng bộ lọc sản phẩm (trên điện thoại) -->
                <div class="btnCloseFilterProductList">
                    <button><i class="fa-solid fa-xmark"></i></button>
                </div>
                <div class="titleFilterProductList">
                    <span><i class="fa-solid fa-filter"></i> DANH MỤC</span>
                </div>
                <div class="filterBasePlace">
                    <div class="filterBasePlaceCheckbox" style="color: #a61713;">Sản Phẩm</div>
                    <div class="filterBasePlaceCheckbox"><input type="checkbox"> Tất cả sản phẩm</div>
                    <div class="filterBasePlaceCheckbox"><input type="checkbox"> TV</div>
                    <div class="filterBasePlaceCheckbox"><input type="checkbox"> Tủ lạnh</div>
                    <div class="filterBasePlaceCheckbox"><input type="checkbox"> Máy giặt</div>
                    <!-- <div class="filterBasePlaceCheckbox"><input type="checkbox"> Bình Dương</div>
                    <div class="filterBasePlaceCheckbox"><input type="checkbox"> Bà Rịa - Vùng Tàu</div> -->
                </div>
                <div class="btnActiveFilter">
                    <button>
                        ÁP DỤNG
                    </button>
                </div>
            </div>
            <div class="rightOfProductList">
                <!-- Nút mở Bộ lọc sản phẩm trên điện thoại -->
                <div class="btnOpenFilterProductList">
                    <button><span><i class="fa-solid fa-filter"></i> BỘ LỌC TÌM KIẾM</span></button>
                </div>
                <!-- List sản phẩm -->
                <div class="row listSuggest">
                    <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                        <button routerLink="/product-detail" class="btnSuggestItem">
                            <div class="suggestItemSaleTag">
                                -50%
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                            <span>Combo 3 chai Nước giặt OMO</span>
                            <div class="suggestItemPriceSale">
                                <span class="suggestItemPrice">171.000 đ</span>
                                <span class="suggestItemSold">Đã bán 7,5k</span>
                            </div>
                        </button>
                    </div>
                    <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                        <button routerLink="/product-detail" class="btnSuggestItem">
                            <div class="suggestItemSaleTag">
                                -50%
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                            <span>Combo 3 chai Nước giặt OMO</span>
                            <div class="suggestItemPriceSale">
                                <span class="suggestItemPrice">171.000 đ</span>
                                <span class="suggestItemSold">Đã bán 7,5k</span>
                            </div>
                        </button>
                    </div>
                    <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                        <button routerLink="/product-detail" class="btnSuggestItem">
                            <div class="suggestItemSaleTag">
                                -50%
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                            <span>Combo 3 chai Nước giặt OMO</span>
                            <div class="suggestItemPriceSale">
                                <span class="suggestItemPrice">171.000 đ</span>
                                <span class="suggestItemSold">Đã bán 7,5k</span>
                            </div>
                        </button>
                    </div>
                    <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                        <button routerLink="/product-detail" class="btnSuggestItem">
                            <div class="suggestItemSaleTag">
                                -50%
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                            <span>Combo 3 chai Nước giặt OMO</span>
                            <div class="suggestItemPriceSale">
                                <span class="suggestItemPrice">171.000 đ</span>
                                <span class="suggestItemSold">Đã bán 7,5k</span>
                            </div>
                        </button>
                    </div>
                    <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                        <button routerLink="/product-detail" class="btnSuggestItem">
                            <div class="suggestItemSaleTag">
                                -50%
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                            <span>Combo 3 chai Nước giặt OMO</span>
                            <div class="suggestItemPriceSale">
                                <span class="suggestItemPrice">171.000 đ</span>
                                <span class="suggestItemSold">Đã bán 7,5k</span>
                            </div>
                        </button>
                    </div>
                    <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                        <button routerLink="/product-detail" class="btnSuggestItem">
                            <div class="suggestItemSaleTag">
                                -50%
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                            <span>Combo 3 chai Nước giặt OMO</span>
                            <div class="suggestItemPriceSale">
                                <span class="suggestItemPrice">171.000 đ</span>
                                <span class="suggestItemSold">Đã bán 7,5k</span>
                            </div>
                        </button>
                    </div>
                    <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                        <button routerLink="/product-detail" class="btnSuggestItem">
                            <div class="suggestItemSaleTag">
                                -50%
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                            <span>Combo 3 chai Nước giặt OMO</span>
                            <div class="suggestItemPriceSale">
                                <span class="suggestItemPrice">171.000 đ</span>
                                <span class="suggestItemSold">Đã bán 7,5k</span>
                            </div>
                        </button>
                    </div>
                    <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                        <button routerLink="/product-detail" class="btnSuggestItem">
                            <div class="suggestItemSaleTag">
                                -50%
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                            <span>Combo 3 chai Nước giặt OMO</span>
                            <div class="suggestItemPriceSale">
                                <span class="suggestItemPrice">171.000 đ</span>
                                <span class="suggestItemSold">Đã bán 7,5k</span>
                            </div>
                        </button>
                    </div>
                    <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                        <button routerLink="/product-detail" class="btnSuggestItem">
                            <div class="suggestItemSaleTag">
                                -50%
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                            <span>Combo 3 chai Nước giặt OMO</span>
                            <div class="suggestItemPriceSale">
                                <span class="suggestItemPrice">171.000 đ</span>
                                <span class="suggestItemSold">Đã bán 7,5k</span>
                            </div>
                        </button>
                    </div>
                    <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                        <button routerLink="/product-detail" class="btnSuggestItem">
                            <div class="suggestItemSaleTag">
                                -50%
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                            <span>Combo 3 chai Nước giặt OMO</span>
                            <div class="suggestItemPriceSale">
                                <span class="suggestItemPrice">171.000 đ</span>
                                <span class="suggestItemSold">Đã bán 7,5k</span>
                            </div>
                        </button>
                    </div>
                    <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                        <button routerLink="/product-detail" class="btnSuggestItem">
                            <div class="suggestItemSaleTag">
                                -50%
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                            <span>Combo 3 chai Nước giặt OMO</span>
                            <div class="suggestItemPriceSale">
                                <span class="suggestItemPrice">171.000 đ</span>
                                <span class="suggestItemSold">Đã bán 7,5k</span>
                            </div>
                        </button>
                    </div>
                    <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                        <button routerLink="/product-detail" class="btnSuggestItem">
                            <div class="suggestItemSaleTag">
                                -50%
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                            <span>Combo 3 chai Nước giặt OMO</span>
                            <div class="suggestItemPriceSale">
                                <span class="suggestItemPrice">171.000 đ</span>
                                <span class="suggestItemSold">Đã bán 7,5k</span>
                            </div>
                        </button>
                    </div>
                    <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                        <button routerLink="/product-detail" class="btnSuggestItem">
                            <div class="suggestItemSaleTag">
                                -50%
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                            <span>Combo 3 chai Nước giặt OMO</span>
                            <div class="suggestItemPriceSale">
                                <span class="suggestItemPrice">171.000 đ</span>
                                <span class="suggestItemSold">Đã bán 7,5k</span>
                            </div>
                        </button>
                    </div>
                    <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                        <button routerLink="/product-detail" class="btnSuggestItem">
                            <div class="suggestItemSaleTag">
                                -50%
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                            <span>Combo 3 chai Nước giặt OMO</span>
                            <div class="suggestItemPriceSale">
                                <span class="suggestItemPrice">171.000 đ</span>
                                <span class="suggestItemSold">Đã bán 7,5k</span>
                            </div>
                        </button>
                    </div>
                    <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                        <button routerLink="/product-detail" class="btnSuggestItem">
                            <div class="suggestItemSaleTag">
                                -50%
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                            <span>Combo 3 chai Nước giặt OMO</span>
                            <div class="suggestItemPriceSale">
                                <span class="suggestItemPrice">171.000 đ</span>
                                <span class="suggestItemSold">Đã bán 7,5k</span>
                            </div>
                        </button>
                    </div>
                    <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                        <button routerLink="/product-detail" class="btnSuggestItem">
                            <div class="suggestItemSaleTag">
                                -50%
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                            <span>Combo 3 chai Nước giặt OMO</span>
                            <div class="suggestItemPriceSale">
                                <span class="suggestItemPrice">171.000 đ</span>
                                <span class="suggestItemSold">Đã bán 7,5k</span>
                            </div>
                        </button>
                    </div>
                    <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                        <button routerLink="/product-detail" class="btnSuggestItem">
                            <div class="suggestItemSaleTag">
                                -50%
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                            <span>Combo 3 chai Nước giặt OMO</span>
                            <div class="suggestItemPriceSale">
                                <span class="suggestItemPrice">171.000 đ</span>
                                <span class="suggestItemSold">Đã bán 7,5k</span>
                            </div>
                        </button>
                    </div>
                    <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                        <button routerLink="/product-detail" class="btnSuggestItem">
                            <div class="suggestItemSaleTag">
                                -50%
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                            <span>Combo 3 chai Nước giặt OMO</span>
                            <div class="suggestItemPriceSale">
                                <span class="suggestItemPrice">171.000 đ</span>
                                <span class="suggestItemSold">Đã bán 7,5k</span>
                            </div>
                        </button>
                    </div>
                    <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                        <button routerLink="/product-detail" class="btnSuggestItem">
                            <div class="suggestItemSaleTag">
                                -50%
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                            <span>Combo 3 chai Nước giặt OMO</span>
                            <div class="suggestItemPriceSale">
                                <span class="suggestItemPrice">171.000 đ</span>
                                <span class="suggestItemSold">Đã bán 7,5k</span>
                            </div>
                        </button>
                    </div>
                    <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                        <button routerLink="/product-detail" class="btnSuggestItem">
                            <div class="suggestItemSaleTag">
                                -50%
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                            <span>Combo 3 chai Nước giặt OMO</span>
                            <div class="suggestItemPriceSale">
                                <span class="suggestItemPrice">171.000 đ</span>
                                <span class="suggestItemSold">Đã bán 7,5k</span>
                            </div>
                        </button>
                    </div>
                    <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                        <button routerLink="/product-detail" class="btnSuggestItem">
                            <div class="suggestItemSaleTag">
                                -50%
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                            <span>Combo 3 chai Nước giặt OMO</span>
                            <div class="suggestItemPriceSale">
                                <span class="suggestItemPrice">171.000 đ</span>
                                <span class="suggestItemSold">Đã bán 7,5k</span>
                            </div>
                        </button>
                    </div>
                    <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                        <button routerLink="/product-detail" class="btnSuggestItem">
                            <div class="suggestItemSaleTag">
                                -50%
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                            <span>Combo 3 chai Nước giặt OMO</span>
                            <div class="suggestItemPriceSale">
                                <span class="suggestItemPrice">171.000 đ</span>
                                <span class="suggestItemSold">Đã bán 7,5k</span>
                            </div>
                        </button>
                    </div>
                    <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                        <button routerLink="/product-detail" class="btnSuggestItem">
                            <div class="suggestItemSaleTag">
                                -50%
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                            <span>Combo 3 chai Nước giặt OMO</span>
                            <div class="suggestItemPriceSale">
                                <span class="suggestItemPrice">171.000 đ</span>
                                <span class="suggestItemSold">Đã bán 7,5k</span>
                            </div>
                        </button>
                    </div>
                    <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                        <button routerLink="/product-detail" class="btnSuggestItem">
                            <div class="suggestItemSaleTag">
                                -50%
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                            <span>Combo 3 chai Nước giặt OMO</span>
                            <div class="suggestItemPriceSale">
                                <span class="suggestItemPrice">171.000 đ</span>
                                <span class="suggestItemSold">Đã bán 7,5k</span>
                            </div>
                        </button>
                    </div>
                    <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                        <button routerLink="/product-detail" class="btnSuggestItem">
                            <div class="suggestItemSaleTag">
                                -50%
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                            <span>Combo 3 chai Nước giặt OMO</span>
                            <div class="suggestItemPriceSale">
                                <span class="suggestItemPrice">171.000 đ</span>
                                <span class="suggestItemSold">Đã bán 7,5k</span>
                            </div>
                        </button>
                    </div>
                    <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                        <button routerLink="/product-detail" class="btnSuggestItem">
                            <div class="suggestItemSaleTag">
                                -50%
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                            <span>Combo 3 chai Nước giặt OMO</span>
                            <div class="suggestItemPriceSale">
                                <span class="suggestItemPrice">171.000 đ</span>
                                <span class="suggestItemSold">Đã bán 7,5k</span>
                            </div>
                        </button>
                    </div>
                    <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                        <button routerLink="/product-detail" class="btnSuggestItem">
                            <div class="suggestItemSaleTag">
                                -50%
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                            <span>Combo 3 chai Nước giặt OMO</span>
                            <div class="suggestItemPriceSale">
                                <span class="suggestItemPrice">171.000 đ</span>
                                <span class="suggestItemSold">Đã bán 7,5k</span>
                            </div>
                        </button>
                    </div>
                    <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                        <button routerLink="/product-detail" class="btnSuggestItem">
                            <div class="suggestItemSaleTag">
                                -50%
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                            <span>Combo 3 chai Nước giặt OMO</span>
                            <div class="suggestItemPriceSale">
                                <span class="suggestItemPrice">171.000 đ</span>
                                <span class="suggestItemSold">Đã bán 7,5k</span>
                            </div>
                        </button>
                    </div>
                    <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                        <button routerLink="/product-detail" class="btnSuggestItem">
                            <div class="suggestItemSaleTag">
                                -50%
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                            <span>Combo 3 chai Nước giặt OMO</span>
                            <div class="suggestItemPriceSale">
                                <span class="suggestItemPrice">171.000 đ</span>
                                <span class="suggestItemSold">Đã bán 7,5k</span>
                            </div>
                        </button>
                    </div>
                    <div class="col l-2 m-3 c-6 btnSuggestItemContainer">
                        <button routerLink="/product-detail" class="btnSuggestItem">
                            <div class="suggestItemSaleTag">
                                -50%
                            </div>
                            <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-m0cs9d5vmtild0.webp" alt="">
                            <span>Combo 3 chai Nước giặt OMO</span>
                            <div class="suggestItemPriceSale">
                                <span class="suggestItemPrice">171.000 đ</span>
                                <span class="suggestItemSold">Đã bán 7,5k</span>
                            </div>
                        </button>
                    </div>
        
                </div>
                <!-- Pagination -->
                <div class="pagination">
                    <a class="" href="#">&laquo;</a>
                    <a class="active" href="#">1</a>
                    <a class="" href="#">2</a>
                    <a class="" href="#">3</a>
                    <a class="" href="#">4</a>
                    <a class="" href="#">5</a>
                    <a class="" href="#">6</a>
                    <a class="" href="#">&raquo;</a>
                </div>
            </div>
        </div>
    </div>
</div>